{% extends '__base__.html' %}

{% block title %} Picture Book {% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}

    <h2 class="ui header" tabindex="0">
        <a href="/">芽芽绘本</a> &nbsp;&nbsp;
        <a href="/xmly">喜马拉雅绘本</a>
    </h2>
    <div class="ui divider"></div>

    <div class="ui labels">
        {% for age in ages %}
            {% if current_age == age %}
                <a onclick="filter_age('{{age}}')" href="#" class="ui green label" tabindex="{{loop.index + 10}}"> {{age}}</a>
            {% else %}
                <a onclick="filter_age('{{age}}')" href="#" class="ui label" tabindex="{{loop.index + 10}}"> {{age}}</a>
            {% endif %}
        {% endfor %}
        {% if current_age %}
            <a onclick="filter_age('')" href="#" class="ui olive label"> 重置 </a>
        {% else %}
            <a onclick="filter_age('')" href="#" class="ui label"> 重置 </a>
        {% endif %}
    </div>
    <div class="ui divider"></div>
    <div class="ui labels">
        {% for label in labels %}
            {% if current_label == label.id|string %}
                <a onclick="filter_label('{{label.id}}')" href="#" class="ui green label" tabindex="{{loop.index + 50}}"> {{label.name}}</a>
            {% else %}
                <a onclick="filter_label('{{label.id}}')" href="#" class="ui label" tabindex="{{loop.index + 50}}"> {{label.name}}</a>
            {% endif %}
        {% endfor %}
        {% if current_label %}
            <a onclick="filter_label('')" href="#" class="ui olive label"> 重置 </a>
        {% else %}
            <a onclick="filter_label('')" href="#" class="ui label"> 重置 </a>
        {% endif %}
    </div>
    <br />
    <div class="ui four stackable cards">
        {% for book in books %}
        <div class="card" tabindex="{{loop.index + 100}}">
            <a class="image" href="/yaya-book?id={{book.id}}">
                <img class="lazy" data-original="{{book.cover|format('600x600')}}">
            </a>
            <div class="content">
                <a href="/yaya-book?id={{book.id}}" class="header">{{book.id}}.{{book.name}}</a>
                <div class="meta">
                    {{book.ageDesc}}
                </div>
                <div class="description">
                    章节数: {{book.totalChapter}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br />
    {{ pagination('?page=', page) }}

    <script>
        $(function(){
            $("img.lazy").lazyload({
                effect: 'fadeIn',
                threshold: 20,
                placeholder: '/static/img/placeholder.png',
            });
        });
    </script>
{% endblock %}