{% extends '__base__.html' %}

{% block title %} Picture Book {% endblock %}

{% block beforehead %}

<script>
    function addReferer(id)
    {
        location.href ="/yaya-book?id=" +id + "&refer=" + encodeURIComponent(document.URL);
    }

    $(function(){
        $("i.search").click(function(){
            var keywords = $("#keywords").val()
            filter_keyword(keywords)
        });
    });
</script>

{% endblock %}

{% block content %}

    <h2 class="ui header">
        <!-- <a href="/">芽芽绘本</a> &nbsp;&nbsp;
        <a href="/xmly">喜马拉雅绘本</a> -->
        <div class="ui checkbox">
            <input id="random-showing" type="checkbox" tabindex="5" onchange="random_params(event)"  {{'checked=checked' if current_random =='true' else ''}} name="random-showing">
            <label for="random-showing" class="label pointer" tabindex="6"><a href="javascript:void(0);"  style="pointer-events: none;" >随机显示</a></label>
        </div>
        <div class="ui checkbox">
            <input id="desc-order" type="checkbox" tabindex="7" onchange="desc_order(event)"  {{'checked=checked' if current_desc =='true' else ''}} name="desc-order">
            <label for="desc-order" class="label pointer" tabindex="8"><a href="#">倒序</a></label>
        </div>

        <div class="ui search">
            <div class="ui icon input">
                <input id="keywords" class="prompt" type="text" tabindex="10" value="{{current_keyword if current_keyword else ''}}" placeholder="please input keywords...">
                <i class="search icon pointer" style="pointer-events: auto;" tabindex="11"></i>
            </div>
        </div>
    </h2>
    <div class="ui divider"></div>

    <div class="ui labels">
        {% for age in ages %}
            {% if current_age == age %}
                <a onclick="filter_age('{{age}}')" href="#" class="ui green label" tabindex="{{loop.index + 20}}"> {{age}}</a>
            {% else %}
                <a onclick="filter_age('{{age}}')" href="#" class="ui label" tabindex="{{loop.index + 20}}"> {{age}}</a>
            {% endif %}
        {% endfor %}
        {% if current_age %}
            <a onclick="filter_age('')" href="#" class="ui olive label" tabindex="40"> 重置 </a>
        {% else %}
            <a onclick="filter_age('')" href="#" class="ui label" tabindex="40"> 重置 </a>
        {% endif %}
    </div>
    <div class="ui divider"></div>
    <div class="ui labels">
        {% for label in labels %}
            {% if current_label == label.id|string %}
                <a onclick="filter_label('{{label.id}}')" href="#" class="ui green label" tabindex="{{loop.index + 50}}"> {{label.name}}</a>
            {% else %}
                <a onclick="filter_label('{{label.id}}')" href="#" class="ui label" tabindex="{{loop.index + 50}}"> {{label.name}}</a>
            {% endif %}
        {% endfor %}
        {% if current_label %}
            <a onclick="filter_label('')" href="#" class="ui olive label" tabindex="80"> 重置 </a>
        {% else %}
            <a onclick="filter_label('')" href="#" class="ui label" tabindex="80"> 重置 </a>
        {% endif %}
    </div>
    <div class="ui divider"></div>
    {{ pagination('?page=', page) }}
    <br />
    <br />
    <div class="ui four stackable cards">
        {% for book in books %}
        <div class="card" tabindex="{{loop.index + 100}}">
            <a class="image" onclick="addReferer({{book.id}});return false;" href="#">
                <img class="lazy" data-original="{{book.cover|format('600x600')}}" referrerpolicy="no-referrer">
            </a>
            <div class="content">
                <a onclick="addReferer({{book.id}});return false;" href="#" class="header">{{book.id}}.{{book.name}}</a>
                <div class="meta">
                    {{book.ageDesc}}
                </div>
                <div class="description">
                    章节数: {{book.totalChapter}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br />
    {{ pagination('?page=', page) }}

    <script>
        $(function(){
            $("img.lazy").lazyload({
                effect: 'fadeIn',
                threshold: 20,
                //placeholder: '/static/img/placeholder.png',
                placeholder_data_img : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC'
            });
        });
    </script>
{% endblock %}