{% extends '__base__.html' %}

{% block title %} Picture Book {% endblock %}

{% block beforehead %}

<script>
    function addReferer(id)
    {
        location.href ="/xmly-book?id=" +id + "&refer=" + encodeURIComponent(document.URL);
    }
</script>
{% endblock %}

{% block content %}

    <h2 class="ui header">
        <!-- <a href="/">芽芽绘本</a> &nbsp;&nbsp;
        <a href="/xmly">喜马拉雅绘本</a> -->
        <div class="ui checkbox" tabindex="5">
            <input type="checkbox" tabindex="7" onchange="random_params(event)"  {{'checked=checked' if current_random =='true' else ''}} name="random-showing">
            <label class="label pointer" >随机显示</label>
        </div>
    </h2>
    <div class="ui divider"></div>

    <div class="ui labels">
        {% for album in albums %}
            {% if current_album == album.albumId|string %}
                <a onclick="filter_album('{{album.albumId}}')" href="#" class="ui green label" tabindex="{{loop.index + 50}}"> {{album.title}}</a>
            {% else %}
                <a onclick="filter_album('{{album.albumId}}')" href="#" class="ui label" tabindex="{{loop.index + 50}}"> {{album.title}}</a>
            {% endif %}
        {% endfor %}
        {% if current_label %}
            <a onclick="filter_album('')" href="#" class="ui olive label"> 重置 </a>
        {% else %}
            <a onclick="filter_album('')" href="#" class="ui label"> 重置 </a>
        {% endif %}
    </div>
    <div class="ui divider"></div>
    {{ pagination('?page=', page) }}
    <br />
    <br />
    <div class="ui four stackable cards">
        {% for book in books %}
        <div class="card" tabindex="{{loop.index + 100}}">
            <a class="image" href="#" onclick="addReferer({{book.recordId}})">
                <img class="lazy" data-original="{{book.coverPath}}" referrerpolicy="no-referrer">
            </a>
            <div class="content">
                <a href="#" onclick="addReferer({{book.recordId}})" class="header">{{book.recordTitle}}</a>
                <div class="meta">
                    {{book.ageDesc}}
                </div>
                <div class="description">
                    {% for album in albums %}
                        {% if book.albumId == album.albumId %}
                            {{ album.title }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br />
    {{ pagination('?page=', page) }}

    <script>
        $(function(){
            $("img.lazy").lazyload({
                effect: 'fadeIn',
                threshold: 20,
                //placeholder: '/static/img/placeholder.png',
                placeholder_data_img : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC'
            });
        });
    </script>
{% endblock %}